<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello there</h1>
    <h2>My data is {{ data }}</h2>
    <p>
      Other page is <a href="{% url 'lil:other' %}">here</a>
    </p>
    <p>
      Admin page <a href="{% url 'admin:index' %}">here</a>
    </p>
    <p>
      <a href="{% url 'home' %}">Go back to index page</a>
    </p>
  </body>
</html>
